.nav-bar-conteneur {
    height: 154px;
    background-color: #F5EFEA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-bar-ico {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titre-tarte-ico {
    margin-inline: 30px;
    width: 100px;
    height: 66px;
}

.titre {
    font-family: 'Parisienne', cursive;
}

.nav-bar-text {
    margin: 20px;
    margin-bottom: 0px;
}

@media (max-width: 1000px) {
    .nav-bar-conteneur {
        height: 250px;
    }
    .nav-bar-text {
        margin: 20px;
        font-size: 20px
    }
}

@media (max-width: 450px) {
    .nav-bar-text {
        margin: 0px;
    }
}