@import url(https://fonts.googleapis.com/css2?family=Parisienne&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

p {
    font-size: 24px;
}

h1 {
    font-size: 40px;
}

.conteneur-de-milieutage-tqt {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gray {
    background-color: #F5EFEA;
}

#gray-plus {
    background-color: #e9e3de;
}